<h1>reactive-forms works!</h1>
<h1>template driven form</h1>

<!-- define an ngForm template variable and an onsubmit that takes the variable
# a form group is a whole form(your ngForm directive)
# a form control is individual fields(your ngModel directive)
# these are different from the bootstrap form classes
-->

<form
  [formGroup]="form"
  cForm
  [validated]="email.touched || password.touched || toggle.touched"
  novalidate
  (ngSubmit)="onSubmit()"
  class="reactive-form"
>
  <div class="mb-3 inputs">
    <label cLabel for="inputEmail-2">Email address</label>
    <!-- doing the onChange is useful when you wish to do validation on the go -->
    <input
      cFormControl
      id="inputEmail-2"
      type="email"
      formControlName="email"
      name="email"
    />

    <div>
      <c-form-feedback *ngIf="email.errors?.required" [valid]="false"
        >Please choose an email.</c-form-feedback
      >
      <c-form-feedback *ngIf="email.errors?.minlength" [valid]="false"
        >Please choose an email with 5 characters or more.</c-form-feedback
      >
      <c-form-feedback *ngIf="email.dirty" [valid]="false"
        >Please choose a valid email .</c-form-feedback
      >
    </div>

    <div cFormText>We'll never share your email with anyone else</div>
  </div>

  <div class="mb-3 inputs">
    <label cLabel for="inputPassword-2">Password</label>
    <input
      cFormControl
      id="inputPassword-2"
      type="password"
      formControlName="password"
    />
    <c-form-feedback [valid]="false">Please choose a password.</c-form-feedback>
  </div>
  <c-form-check class="mb-3">
    <input
      cFormCheckInput
      id="checkMeOut-2"
      type="checkbox"
      formControlName="toggle"
    />
    <label cFormCheckLabel for="checkMeOut-2">Check me out</label>
    <c-form-feedback [valid]="false">Check this out.</c-form-feedback>
  </c-form-check>

  <!-- disable the button if there is any invalid input -->
  <button cButton color="primary" type="submit">Submit</button>
</form>
